In [4]:
import pandas as pd
import numpy as np

# New Section

In [5]:
df=pd.read_csv('./dataset.csv')
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,71,2,1,1,2,2,1,1,1,1,2,1,1,2,NO
2996,F,75,1,2,1,1,1,2,2,2,2,1,1,2,1,NO
2997,F,62,2,2,2,1,2,2,2,2,1,1,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES
2999,M,40,1,2,2,1,1,1,2,2,2,1,1,1,1,YES

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 3000 non-null   object
 1   AGE                    3000 non-null   int64
 2   SMOKING                3000 non-null   int64
 3   YELLOW_FINGERS         3000 non-null   int64
 4   ANXIETY                3000 non-null   int64
 5   PEER_PRESSURE          3000 non-null   int64
 6   CHRONIC_DISEASE        3000 non-null   int64
 7   FATIGUE                3000 non-null   int64
 8   ALLERGY                3000 non-null   int64
 9   WHEEZING               3000 non-null   int64
 10  ALCOHOL_CONSUMING      3000 non-null   int64
 11  COUGHING               3000 non-null   int64
 12  SHORTNESS_OF_BREATH    3000 non-null   int64
 13  SWALLOWING_DIFFICULTY  3000 non-null   int64
 14  CHEST_PAIN             3000 non-null   int64
 15  LUNG_CANCER            3000 non-null   object
dtypes: int64(14), object(2)
memory usage: 375.1+ KB

In [7]:
#checking for duplicates
df.duplicated().sum()

2

In [8]:
#Removing Duplicates
df=df.drop_duplicates()

In [9]:
#Checking for null values
df.isnull().sum()

GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC_DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL_CONSUMING        0
COUGHING                 0
SHORTNESS_OF_BREATH      0
SWALLOWING_DIFFICULTY    0
CHEST_PAIN               0
LUNG_CANCER              0
dtype: int64

In [10]:
df.describe()

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN
count,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000
mean,55.171448,1.491328,1.514009,1.493996,1.498666,1.509673,1.489660,1.507005,1.497332,1.491328,1.510340,1.487658,1.489993,1.498332
std,14.728302,0.500008,0.499887,0.500047,0.500082,0.499990,0.499976,0.500034,0.500076,0.500008,0.499976,0.499931,0.499983,0.500081
min,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,42.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,55.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
75%,68.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,80.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [11]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['GENDER']=le.fit_transform(df['GENDER'])
df['LUNG_CANCER'] = le.fit_transform(df['LUNG_CANCER'])

C:\Users\kevin\AppData\Local\Temp\ipykernel_22588\110582928.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GENDER']=le.fit_transform(df['GENDER'])
C:\Users\kevin\AppData\Local\Temp\ipykernel_22588\110582928.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LUNG_CANCER'] = le.fit_transform(df['LUNG_CANCER'])

In [12]:
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,1,65,1,1,1,2,2,1,2,2,2,2,2,2,1,0
1,0,55,1,2,2,1,1,2,2,2,1,1,1,2,2,0
2,0,78,2,2,1,1,1,2,1,2,1,1,2,1,1,1
3,1,60,2,1,1,1,2,1,2,1,1,2,1,2,2,1
4,0,80,1,1,2,1,1,2,1,2,1,1,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,71,2,1,1,2,2,1,1,1,1,2,1,1,2,0
2996,0,75,1,2,1,1,1,2,2,2,2,1,1,2,1,0
2997,0,62,2,2,2,1,2,2,2,2,1,1,2,2,2,1
2998,1,30,1,1,2,2,2,2,2,2,2,1,2,1,2,1
2999,1,40,1,2,2,1,1,1,2,2,2,1,1,1,1,1

In [13]:
#to find the occurance
df['LUNG_CANCER'].value_counts()

LUNG_CANCER
1    1517
0    1481
Name: count, dtype: int64

In [14]:
#dropping unnecessary features
df_new=df.drop(columns=['GENDER','AGE', 'SMOKING', 'SHORTNESS_OF_BREATH'])
df_new

,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,1,1,2,2,1,2,2,2,2,2,1,0
1,2,2,1,1,2,2,2,1,1,2,2,0
2,2,1,1,1,2,1,2,1,1,1,1,1
3,1,1,1,2,1,2,1,1,2,2,2,1
4,1,2,1,1,2,1,2,1,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1,1,2,2,1,1,1,1,2,1,2,0
2996,2,1,1,1,2,2,2,2,1,2,1,0
2997,2,2,1,2,2,2,2,1,1,2,2,1
2998,1,2,2,2,2,2,2,2,1,1,2,1
2999,2,2,1,1,1,2,2,2,1,1,1,1

In [15]:
#feature engineering to create new features from previous colenear ones
df_new['ANXYELFIN']=df_new['ANXIETY']*df_new['YELLOW_FINGERS']
df_new

,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER,ANXYELFIN
0,1,1,2,2,1,2,2,2,2,2,1,0,1
1,2,2,1,1,2,2,2,1,1,2,2,0,4
2,2,1,1,1,2,1,2,1,1,1,1,1,2
3,1,1,1,2,1,2,1,1,2,2,2,1,1
4,1,2,1,1,2,1,2,1,1,1,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1,1,2,2,1,1,1,1,2,1,2,0,1
2996,2,1,1,1,2,2,2,2,1,2,1,0,2
2997,2,2,1,2,2,2,2,1,1,2,2,1,4
2998,1,2,2,2,2,2,2,2,1,1,2,1,2
2999,2,2,1,1,1,2,2,2,1,1,1,1,4

In [16]:
X = df_new.drop('LUNG_CANCER', axis = 1)
y = df_new['LUNG_CANCER']

In [30]:
withoutCV=[]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.20, random_state=42)

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
lr_model=RandomForestClassifier(random_state=0)
lr_model.fit(X_train, y_train)
y_lr_pred= lr_model.predict(X_test)
from sklearn.metrics import classification_report, accuracy_score, f1_score
lr_cr=classification_report(y_test, y_lr_pred)
print(lr_cr)
withoutCV.append(accuracy_score(y_test, y_lr_pred))

              precision    recall  f1-score   support

           0       0.53      0.50      0.52       300
           1       0.53      0.55      0.54       300

    accuracy                           0.53       600
   macro avg       0.53      0.53      0.53       600
weighted avg       0.53      0.53      0.53       600

In [42]:
y_lr_pred= lr_model.predict(X_test)

In [43]:
from sklearn.metrics import classification_report, accuracy_score, f1_score
lr_cr=classification_report(y_test, y_lr_pred)
print(lr_cr)
withoutCV.append(accuracy_score(y_test, y_lr_pred))

              precision    recall  f1-score   support

           0       0.53      0.50      0.52       300
           1       0.53      0.55      0.54       300

    accuracy                           0.53       600
   macro avg       0.53      0.53      0.53       600
weighted avg       0.53      0.53      0.53       600

In [44]:
withoutCV

[0.5183333333333333,
 0.5183333333333333,
 0.5266666666666666,
 0.5083333333333333,
 0.5083333333333333,
 0.5083333333333333,
 0.5266666666666666,
 0.5266666666666666]

In [45]:
class_distribution = y.value_counts()
print(class_distribution)

LUNG_CANCER
1    1517
0    1481
Name: count, dtype: int64

In [46]:
import pickle

# Save the model to a file
with open('lr_cr_model_latest.pkl', 'wb') as file:
    pickle.dump(lr_model, file)

In [47]:
!numpy --version

'numpy' is not recognized as an internal or external command,
operable program or batch file.

In [48]:
import sklearn
print(sklearn.__version__)

1.6.1

In [49]:
with open('lr_cr_model_latest.pkl', 'rb') as file:
    model = pickle.load(file)

In [50]:
prediction = model.predict(X_test)

print("Prediction:", prediction)

Prediction: [0 1 0 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 1 0 1 1 1 1 0 0 0 1 0 0 1 0 0 1 0 1 0
 1 0 1 1 0 0 0 1 1 1 0 1 1 0 1 0 1 0 0 1 1 0 1 1 1 0 1 1 1 0 1 0 0 1 1 0 0
 0 0 0 1 0 0 1 0 1 0 1 1 0 1 0 1 1 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 0 1 1
 1 1 0 1 1 1 1 0 1 0 1 1 0 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 1 1 0 1 0 1 0 1 0
 1 0 1 1 1 1 0 0 1 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 1 1 0 0 0 0 1 1 0 0 0 1 1
 0 0 1 1 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 1 1 1 1
 1 0 0 0 1 0 1 1 1 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 0 1 0 0 1 0 1 1 1 1 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 0
 1 1 1 0 1 1 0 1 1 1 1 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0
 1 0 1 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 0 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1
 1 0 0 0 1 1 1 0 0 0 1 0 1 1 1 1 1 1 1 0 0 0 1 0 0 1 1 1 1 1 1 0 1 0 0 1 0
 1 1 1 1 1 0 0 0 1 0 1 1 0 1 1 1 1 0 1 0 1 1 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1
 1 1 1 0 0 1 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0
 0 1 1 1 0 1 0 0 1 0 0 1 0 1 1 0 1 0 1 0 1 1 0 1 1 0 0 1 0 1 1 0 1 0 1 1 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 0
 1 1 1 1 1 0 1 1 1 0 1 1 0 0 0 1 1 1 0 0 1 0 1 1 1 0 0 0 1 0 1 0 1 0 0 1 1
 0 1 1 0 1 1 1 1]